<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clientes</title>
</head>
<body>
    <table class="table">
    <thead>
        <tr>
        <th scope="col">ID</th>
        <th scope="col">Nombre</th>
        <th scope="col"></th>
        <th scope="col">Productos</th>
        </tr>
    </thead>
    <tbody id="tbody">
        <% clientes.forEach( (value) => { %>
            <tr>
                <td> <%= value.id %> </td>
                <td> <%= value.nombre %> </td>
                <td></td>
                <td>
                    <% value.productos.forEach( (value) => { %>
                        <p> <%= value.nombre %> </p>
                    <% } ) %>
                </td>
            </tr>
        <% } ) %>
    </tbody>
    </table>
</body>
</html>